/* set font and background across entire page*/
html {
	font-family: 'Pixelify Sans', sans-serif;
	font-size: 20px;
	letter-spacing: 0.8px;
	min-height: 100vh; /* makes sure page is at least height of screen */
	color: #d8e9ef;
	background-image: linear-gradient(-20deg, #654374 0%, #5c96cb 100%); /* background gradient */
	background-size: cover;
}

/* app headings and overall container */
h1 {
	margin: 0 auto 10px auto; 
	color: #d8e9ef;
  }
  
  p {
	margin: 0;
  }
  
  .app-message {
	height: 20px;
	margin: 10px auto 20px auto;
  }
  
  .app-container {
	width: 250px;
	height: 420px;
	margin: 40px auto;
	text-align: center;
	border-radius: 5px;
	padding: 20px;
}

/*  this adds the style for the timer circle */
.app-circle {
	position: relative;
	margin: 0 auto;
	width: 200px;
	height: 200px;
  }
  
  .circle-shape {
	pointer-events: none; /* rendered cirlce cannot be clicked */
}

/* apply these styles to the div elements */
.semi-circle {
	position: absolute;
	width: 100px;
	height: 200px;
	box-sizing: border-box;
	border: solid 6px;
  }
  
  .left-side {
	top: 0;
	left: 0;
	transform-origin: right center;
	transform: rotate(0deg);
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-right: none;
	z-index: 1;
  }
  
   .right-side {
	top: 0;
	left: 100px;
	transform-origin: left center;
	transform: rotate(0deg);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-left: none;
}

/* this sets the border colour for the outline of circle timer */
.circle {
	border-color: #00fbff;
  }
  
  .circle-mask {
	border-color: #00fbff;
}

/* .app-counter-box contains the remaining time for the timer. 
The button element is set to make only the text visible and uppercase. 
Also when hovered, the button colour will change */
.app-counter-box {
	font-family: 'Jersey 10', sans-serif;
	font-size: 300%;
	position: relative;
	top: 50px;
	color: #d8e9ef;
  }
  
  button {
	position: relative;
	top: 50px;
	font-family: 'Pixelify Sans', sans-serif;
	font-size: 90%;
	letter-spacing: 1px;
	border: none;
	background: none;
	outline: none;
	color: #d8e9ef;
  }
  
  button:hover {
	color: #90c0d1;
}

/* at this point, everything is styled, but there is no functionality */